@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}

nav img {
    width: 50px;
}


